/*GALLERY*/
#gallery
{
    background-color: #eeeeee;
}
#kepek
{
    margin: 1.1px;
}
#gal
{
    margin-left: 500px;
    margin-bottom: 30px;
}
.imgs
{
    margin-top: 20px;
    width: 900px;
    height: auto;
}
#galcim
{
    margin-left: 238px;
}