$shanghai-green: #5dd782;
$shanghai-green-dark: #49b56a;
$shanghai-green-light: #67ee90;
$shanghai-gray: #333333;
$shanghai-gray-light: #eeeeee;
$shanghai-white: #ffffff;

$padding: 1024px;
$border-rad: 3px;
