$shanghai-green: #5dd782;
$shanghai-green-dark: #49b56a;
$shanghai-green-light: #67ee90;
$shanghai-gray: #333333;
$shanghai-gray-light: #eeeeee;
$shanghai-white: #ffffff;

$view-breakpoint: 768px;
$margin-size: 18%;
$mobile-margin-size: 3%;